{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <title>
    {% block title %}
    {% endblock %}
  </title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="{% static 'toolkit/css/boxicons.min.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'toolkit/css/sidebar.css' %}" />
  <link href="{% static 'toolkit/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'toolkit/css/search.css' %}" rel="stylesheet">

  <style>
    body {
      /* margin-top: 130px; */
      color: aliceblue;
      background-color: #181818;

    }

    a {
      text-decoration: none;
    }

    #image {
      display: none;
    }
    #xss {
      display: none;
    }

  </style>
</head>

<body id="body-pd" class="body-pd">
  <header class="header body-pd" id="header" >
    <div class="header_toggle"> <i class='bx bx-arrow-back' id="header-toggle"></i> </div>
    <div class="header_img"> <img src="{% static 'toolkit/images/sidebar_logo.png' %}"> </div>
  </header>
  <div class="l-navbar show" id="nav-bar">
    <nav class="nav">
      <div>
        <a href="#" class="nav_logo">
          <i class='bx bx-layer nav_logo-icon'></i> <span class="nav_logo-name"><h2>DATOOLS</h1></span>
        </a>
        <div class="nav_list">
          <a href="{% url 'home' %}" class="nav_link active"> <i class='bx bx-grid-alt nav_icon'></i> <span
              class="nav_name">Trang chủ</span> </a><hr>
          <a href="{% url 'igtools' %}" class="nav_link"> <i class='bx bx-wrench nav_icon'></i> <span
              class="nav_name">Thu thập thông tin</span> </a><hr>
          <a href="{% url 'extools' %}" class="nav_link"> <i class='bx bx-message-square-detail nav_icon'></i> <span
              class="nav_name">Xác định lỗ hổng</span> </a>
        </div>
      </div>
      <div class="" style="margin:0 auto 10%; ">
        <a href="https://github.com/HNT2789/" target="_blank"><i class="fab fa-github"></i></a>
        &nbsp;&nbsp;
        <a href="mailto:thaihoang2789@gmail.com" target="_blank"><i class="far fa-envelope "></i></a>
      </div>
    </nav>
  </div>

  <!--Container Main start-->
  <div class="container w-100 p-3 min-vh-70" style="margin-top:150px;" >
    <div id="mainbody">
      {% block content %}

      {% endblock %}
    </div>

    <div id="image" class="text-center">
      <img  src="{% static 'toolkit/images/loading.gif' %}">
    </div>
<!-- ----------------------------------------------------------------- -->
    <div id="xss">
      <div class="d-flex align-items-start ">
        <div class="nav flex-column nav-pills me-3 border" id="v-pills-tab" role="tablist" aria-orientation="vertical">
          <button class="nav-link active" id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home" aria-selected="true">URL</button>
          <button class="nav-link" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false">Parameter</button>
          <button class="nav-link" id="v-pills-messages-tab" data-bs-toggle="pill" data-bs-target="#v-pills-messages" type="button" role="tab" aria-controls="v-pills-messages" aria-selected="false">Response</button>
        </div>
        <div class="tab-content" id="v-pills-tabContent">
          <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
            <h5>Đường dẫn: <p class="text-danger">https//123docz.net/users/home/user_control_doc.php?&a=6&q=</p></h5>
          </div>
          <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">...</div>
          <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">...</div>
        </div>
      </div>
      <br>
      <h4 class="text-warning">Xác định lỗ hổng Reflected XSS</h4>
      <h4 class="text-warning">Payload:</h4>
    </div>
  
    <script type="text/javascript">
      function show1() {
          document.getElementById('xss')
                  .style.display = "block";
          document.getElementById('mainbody')
                  .style.display = "none";
          }
    </script> 

<!-- ----------------------------------------------------------------- -->

    <script type="text/javascript">
      function show() {
          document.getElementById('image')
                  .style.display = "block";
          document.getElementById('mainbody')
                  .style.display = "none";
          }
    </script> 
    <script src="{% static 'toolkit/js/bootstrap.bundle.min.js' %}" crossorigin="anonymous"></script>
    <script src="{% static 'toolkit/js/popper.js' %}" crossorigin="anonymous"></script>
    <script src="{% static 'toolkit/js/bootstrap.min.js' %}" crossorigin="anonymous"></script>
    <script src="{% static 'toolkit/js/f5cf569195.js' %}" crossorigin="anonymous"></script>
    <script src="{% static 'toolkit/js/sidebar.js' %}" crossorigin="anonymous"></script>
  </div>

  <!-- Footer -->
  <footer class="">
    <!-- Copyright -->
    <hr>
    <div class="footer-copyright text-center py-3 ">© 2022 Copyright:
      <a href='https://github.com/HNT2789' target='_blank'>
        Github Page
      </a>
    </div>
    <!-- Copyrigh -->
  </footer>

</body>

</html>