{% extends "toolkit/base.html" %}
{% block content %}
{% load static %}
<header>
  <title>
    {% block title %}
    Dashboard - DAtools
    {% endblock %}
  </title>
</header>

<div class="row gy-5 toolitem">
  <div class="col-lg-4 text-center d-flex justify-content-end">
    <div class="toolitemchild" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Công cụ tìm kiếm thông tin về CVE">
      <a href="{% url 'cvedes' %}">
        <img src="{% static 'toolkit/images/cve.png' %}" height="95" alt="CVESearch" style="width:120px;">
        <h4 class="mt-3 lh-base text-info ">Tìm kiếm CVE</h4>
      </a>
    </div>
  </div>

  <div class="col-lg-4 text-center d-flex justify-content-end">
    <div class="toolitemchild" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Công cụ sử dụng knockpy để tìm subdomain của website">
      <a href="{% url 'subdomain' %}">
        <img src="{% static 'toolkit/images/web.png' %}" alt="subdomain" style="width:95px;">
        <h4 class="mt-3 lh-base text-info">Kiểm tra Subdomain</h4>
      </a>
    </div>
  </div>

  <div class="col-lg-4 text-center d-flex justify-content-end">
    <div class="toolitemchild" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Công cụ tìm kiếm thông tin của website">
      <a href="{% url 'netCraft' %}">
        <img src="{% static 'toolkit/images/search.png' %}" alt="sitereport" style="width:95px;">
        <h4 class="mt-3 lh-base text-info ">Truy vết Website</h4>
      </a>
    </div>
  </div>

  <div class="col-lg-4 text-center d-flex justify-content-end">
    <div class="toolitemchild" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Công cụ kiểm tra các method mà website cho phép">
      <a href="{% url 'verbtamper' %}">
        <img src="{% static 'toolkit/images/domain.png' %}" alt="httpverb" style="width:95px;">
        <h4 class="mt-3 lh-base text-info ">Kiểm tra HTTP Verbs</h4>
      </a>
    </div>
  </div>

  <div class="col-lg-4 text-center d-flex justify-content-end">
    <div class="toolitemchild" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Công cụ kiểm tra các method mà website cho phép">
      <a href="{% url 'crawler' %}">
        <img src="{% static 'toolkit/images/spider-robot.png' %}" alt="httpverb" style="width:95px;">
        <h4 class="mt-3 lh-base text-info ">Crawl Link</h4>
      </a>
    </div>
  </div>
</div>


{% endblock %}