{% extends "toolkit/base.html" %}
{% block content %}
{% load static %}
<head>
  <title>
      {% block title %}
          Sub Domain Finder
      {% endblock %}
  </title>
</head>


<div class="d-flex flex-column align-self-start">
  <div class="searchapi">
    <form autocomplete="off" method="post" action="">
        <div class="input-group input-group-lg mb-3" >
            {% csrf_token %}
            <input class="form-control searchapiinput" name="target_url" type="text" placeholder="Nhập đường dẫn của website" style="border: none;">
            <button class="btn mybutton" type='submit' onclick="show()" id="btnID">
                <i class='bx bx-search-alt'></i>
            </button>
        </div>
    </form>
</div>


  {% if error %}
  <h2 style="text-align:center" class="text-danger">{{ error }}</h2>
  {% endif %}


  {% if response %}
  <table class="table table-hover table-dark">
    <tr>
        <th style="text-align:center">URLs</th>
    </tr>
    {% for url in response %}
    <!-- <tr>
        <td style="text-align:center">{{url}}</td>
    </tr> -->
    {% endfor %}
  </table>
  {% endif %}
</div>
{% endblock %}


