{% extends "toolkit/base.html" %}
{% block content %}
{% load static %}

<head>
  <title>
    {% block title %}
    Xác định XSS
    {% endblock %}
  </title>

</head>


<div class="d-flex flex-column align-self-start">
  <div class="searchapi" id="searchid">
    <!-- <form autocomplete="off" method="" action=""> -->
      <hr>
      {% csrf_token %}
      <div class="row" style="height: 50px;">
        <div class="form-group col-md-12">
          <input class="form-control searchapiinput" name="target_url" type="text" placeholder="Nhập đường dẫn của website" style="border: none; border-top-right-radius: 25px !important;border-bottom-right-radius: 25px !important">
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-12">
          <input type="input" class="form-control searchapiinput" name="cookie" id="cookie" placeholder="Cookie" style="border: none; border-top-right-radius: 25px !important;border-bottom-right-radius: 25px !important" autofocus>
        </div>
      </div>
      <hr>
      <div class="row">
        <button class="btn btn-danger text-white"  type='submit' onclick="show1()" id="btnID">Detect XSS</button>
      </div>

    <!-- </form> -->
  </div>

 

  {% if error %}
  <h2 style="text-align:center" class="text-danger">{{ error }}</h2>
  {% endif %}
</div>


{% endblock %}